@charset "utf-8";
/*CSS Document*/
:root {
    --main-color: #18FFBB;
    --box-shadow:0 0 4px rgb(0, 0, 0, 0.3);
   
}

html {
    scroll-behavior: smooth;
    background-color: black;

}

body {
    background-color: black;
}

@font-face {
    font-family: titlefont;
    src: url(../Font/head-turner-display-font-1/FONT/Head-Turner.ttf);
}

@font-face {
    font-family: bodyfont;
    src: url(../Font/Josefin_Sans/static/JosefinSans-Regular.ttf )
}

*,
  *:before,
  *:after {
    box-sizing: border-box;
  }


  
  .faq_heading {
    font-family: titlefont;
    color: var(--main-color);
    text-align: center;
    margin-bottom: 2.5rem;
  }


  .faq-title {
    color: var(--main-color);
    font-family: bodyfont;
  }

  .row {
    margin-bottom: 2rem;
  }

  .faq-subtitle {
    font-family: bodyfont;
    color: white;
    
  }


  .navi .navlink a{
    color: white;
  }
  .navi .navicon .icons{
    stroke: white;
  }
  .navi .navicon .heart{
    fill: white;
  }
h3.Faq_headingcontent {
  margin: 0;
  color: white;
}

.faqform {

  width: 100%;
  min-height: 100%;
  
  display: flex;
  
}

.acc {
 
  width: 100%;
  
  min-width: 300px;
}

.tab {
  position: relative;
  
}
.tab {
  margin-bottom: 2rem;
}
.underlight-faqs {
  border-bottom: 1px solid #757575;
  
width: 100%;

}


.tab .content {
  overflow: hidden;
  max-height: 0;
  transition: all 0.3s ease-in-out;
  color: white;
}

label {
  
  cursor: pointer;
  display: flex;
  flex-direction: row;
  position: relative;
}
label .icon {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
}
label .icon span {
  background-color: white;
  display: inline-block;
  position: absolute;
  transform: rotate(0deg);
  transition: all 0.3s ease-in-out;
}
label .icon span:first-child {
  width: 2px;
  height: 20px;
  left: 9px;
}
label .icon span:last-child {
  width: 20px;
  height: 2px;
  top: 9px;
}

input {
  display: none;
}

input:checked ~ .content {
  max-height: 300px;
  transition: all 0.3s ease-in-out;
}

input:checked ~ .toggler .icon span:first-child {
  transform: rotate(90deg);
  transition: all 0.3s ease-in-out;
}

h1.faq_heading:before {
  content: "Frequently Asked Questions";
}

.footer {
  padding-top: 2rem;
}

 



  

@media (min-width: 1200px){
    /* Something is Fixed */
    #product_comprehen {
        padding: 5%;
    }

    .faq_heading {
     margin-bottom: 3rem;
    }  


}



/* lg*/

@media (max-width: 1199.9px) and (min-width: 992px){
  .faq_heading {
    margin: 2.5rem 0;
  }  
}

/* md */
@media (max-width: 991px) and (min-width: 768px){
  .acc {
 
    margin-top: 1rem;
  }

  .faq_heading {
    margin: 2.5rem 0;
  }  
   
}


/* sm */

@media (max-width: 768px) and (min-width: 576px){
  .acc {
 
    margin-top: 1rem;
  }

  .faq_heading {
    margin: 2.5rem 0;
  }  
}

/* m */
@media (max-width: 575.9px) and  (min-width: 400px) {
  .acc {
 
    margin-top: 1rem;
  } 
  .faq_heading {
    margin: 2.5rem 0;
  }  
 
}

@media (max-width:399.9px) and (min-width: 319px){
  .acc {
 
    margin-top: 1rem;
  }

  .faq_heading {
    margin: 2.5rem 0;
  }  
 
}


