@charset "utf-8";
/*CSS Document*/
:root {
    --main-color: #18FFBB;
    --box-shadow:0 0 4px rgb(0, 0, 0, 0.3);

   
}

html {
    scroll-behavior: smooth;

}
/* newin_product-item-des - edition */
.new_edition {
    display: inline-block;
    font-weight: 500;
    font-family: bodyfont;
    background-color: rgba(255,255,255,1);
    box-shadow: var(--box-shadow);
    padding: 2px 5px;
    position: absolute;
    top:10px;
    left: 10px;

}

.new_saleoff {
    display: inline-block;
    font-weight: 500;
    font-family: bodyfont;
    color:black;
    background-color:var(--main-color);
    box-shadow: var(--box-shadow);
    padding: 2px 5px;
    position: absolute;
    top:10px;
    left: 10px;
}

.new_soldout {
    display: inline-block;
    font-weight: 500;
    font-family: bodyfont;
    color: var(--main-color);
    background-color:black;
    box-shadow: var(--box-shadow);
    padding: 2px 5px;
    position: absolute;
    top:10px;
    left: 10px;
}

.best_seller {
    display: inline-block;
    font-weight: 500;
    font-family: bodyfont;
    background-color: rgba(255,255,255,0.5);
    box-shadow: var(--box-shadow);
    padding: 2px 5px;
    position: absolute;
    top:10px;
    left: 10px;
}

/* color */
.sub-swatch {
    
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: inline-block;
    margin-bottom: 5px;
    border: 1px solid rgba(208,190,182,.35);
}

.green {
    background-color: #59ac9c;
    color: rgba(89,172,156,0.5);
}

.pink {
    background-color: #f2dddc;
    color: rgba(242,221,220,0.5);
}

.white {
    background-color: #eeede8;
    color: rgba(238,237,232,0.5);
}

.yellow {
    background-color: #e2b064;
    color: rgba(226,176,100,0.5);
}

.pupple{
  background-color: #803576;
  color: rgba(226,176,100,0.5);
}

.polly{
  background-color: #C12A69;
  color: rgba(226,176,100,0.5);
}


/* form */
/* Keep in tough */

#sendingmessage_email, #sendingmessage_name,#sendingmessage_phone
{
    width: 100%;
    height: 50px;
    background:black;

    border: white 0.5px solid;
    margin-bottom: 1.2rem;
    font-family: bodyfont;
    padding-left: 10px;
    font-family: bodyfont;
   
    color: #fff;
}

#sendingmessage_text {
    width: 100%;
    height: 200px;
    background:black;
    border: white 0.5px solid;
    margin-bottom: 1rem;
    font-family: bodyfont;
    padding-left: 10px;
    padding-top: 10px;
    font-family: bodyfont;  
    color: #757575;
    resize: none;
    
}

.contact_sendmessage {
    text-align: center;
    margin-top: 40px;
}

/* Keep in tough */

#sendingmessage_email2, #sendingmessage_name2,#sendingmessage_phone2
{
    width: 100%;
    height: 50px;
    background:black;

    border: white 0.5px solid;
    margin-bottom: 1.2rem;
    font-family: bodyfont;
    padding-left: 10px;
    font-family: bodyfont;
   
    color: #fff;
}

#sendingmessage_text2 {
    width: 100%;
    height: 200px;
    background:black;
    border: white 0.5px solid;
    margin-bottom: 1rem;
    font-family: bodyfont;
    padding-left: 10px;
    padding-top: 10px;
    font-family: bodyfont;  
    color: #757575;
    
}

.contact_sendmessage2 {
    text-align: center;
    margin-top: 40px;
}

/* another way */
#contact_abotherway p, .contact_icon {
    text-align: center;
    color: #fff;
}

.contact_icon i{
font-size: 3rem;
margin-top: 30px;
margin-bottom: 10px;
}

.contact_abotherway-1 {
    background-color: #000;
   margin: 0 5px;
}

.contact_heading {
    margin-top: 1rem;
    font-size: 2.215rem;
    font-family: titlefont;
    margin-top: 5px;
}

.contact_sunheading {
    font-size: 1rem;
    font-family: bodyfont;
}

/* content_contactus_form */

div.content_contactus_form-devide {
    margin-top: 3rem;
}
.content_contactus_form {
 padding-left: 0;
 padding-right: 0;
}


/* filter - product cart */
/* filter */

.nav__overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 5;
    display: none;
    max-height: 100%;
    padding: 0;
    animation: fakeIn linear 0.3s;
  }
  
  .nav__mobile {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    max-width: 100%;
    background-color: #FFF;
    z-index: 11;
  
    transform: translateX(-150%);
    transition: transform linear 0.4s;
  }
  
  .nav_mobile-list {
  margin-top: 20px;
  margin-left: 20px;
  }
  
  .nav_mobile-list li a {
    font-family: bodyfont;
    text-decoration: none;
    color: #000;
  }
  
  .hamberger {
    cursor: pointer;
  }
  
  
  .nav__mobile-close i {
    cursor: pointer;
    font-size: 2rem;
    position: absolute;
    top: 7rem;
    right: 1rem;
    /* color: #9e9e9e; */
    color: black;
  }
  
  .nav_mobile-link {
       text-decoration: none;
       /* color: #9e9e9e; */
    color: black;
  
       display: block;
       font-size: 1.4rem;
       padding: 8px;
  }
  
  /* ======= */
  .nav__input:checked ~ .nav__overlay {
    display: block;
  }
  
  .nav__input:checked ~ .nav__mobile {
    transform: translateX(0);
  
  }


  
  @keyframes fakeIn{
    from{
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  
  
  h3.filter-mobile {
    margin: 0;
    font-weight: 900;
  }
  
  .mobile_account {
    margin-bottom: 2rem;
  }
  
  .acc-mobile {
  
    width: 100%;
    padding: 4%;
    min-width: 300px;
    margin-top: 7rem;
  }
  
  .tab-filter {
    position: relative;
   
  }
  
  
  .tab-filter .content-filter {
    overflow: hidden;
    max-height: 0;
    transition: all 0.3s ease-in-out;
  }
  
  #wrapper-filter label {
    padding: 10px 0;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    position: relative;
  }
  #wrapper-filter label .icon-mobile {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
  }
   label .icon-mobile span {
    background-color: black;
    display: inline-block;
    position: absolute;
    transform: rotate(0deg);
    transition: all 0.3s ease-in-out;
  }
  #wrapper-filter label .icon-mobile span:first-child {
    width: 2px;
    height: 20px;
    left: 9px;
  }
  #wrapper-filter label .icon-mobile span:last-child {
    width: 20px;
    height: 2px;
    top: 9px;
  }
  
  input.input-filter {
    display: none;
  }
  
  input.input-filter:checked ~ .content-filter {
    max-height: 300px;
    transition: all 0.3s ease-in-out;
  }
  
  input.input-filter:checked ~ .toggler .icon-mobile span:first-child {
    transform: rotate(90deg);
    transition: all 0.3s ease-in-out;
  }



  @media (min-width: 1200px){
   
  

}

/* lg*/

@media (max-width: 1199.9px) and (min-width: 992px){

   
}

/* md */
@media (max-width: 991px) and (min-width: 768px){
  
  
    
}


/* sm */

@media (max-width: 768px) and (min-width: 576px){
    .nav__mobile {
      width: 70%;
    }
}

/* m */
@media (max-width: 575.9px) and  (min-width: 400px) {

  .nav__mobile {
    width: 80%;
  }
}

@media (max-width:399.9px) and (min-width: 319px){

  .nav__mobile {
    width: 100%;
  }
}